@use './reset.scss';
@use './mixin.scss' as define;
@use './config.scss' as config;
@use './button.scss';
.modal {
  @include define.position(fixed);
  z-index: 999; 
  .mask {
    @include define.position(fixed);
    background-color: config.$colorI;
    opacity: 0.5;
  }
  .modal-dialog {
    @include define.position(absolute,40%,50%,660px,auto);
    background-color: config.$colorG;
    transform: translate(-50%,-50%);
  }
  .modal-header {
    height: 60px;
    background-color: config.$colorJ;
    padding: 0 25px;
    line-height: 60px;
    font-size: config.$fontI;
    .icon-close {
      @include define.positionImg(absolute,23px,25px,14px,14px,'~@/assets/imgs/icon-close.png');
      &:hover {
        transition: all 0.8s;
        transform: scale(1.5);
      }
    }
  }
  .modal-body {
    padding: 42px 40px 54px;
    font-size: 14px;
  }
  .modal-footer {
    height: 82px;
    line-height: 82px;
    text-align: center;
    background-color: config.$colorJ;
  }
}
.fade-enter,.fade-leave-to {
 top: -100%;
}
.fade-enter-to {
  top: 0%;
 }
.fade-enter-active ,.fade-leave-active {
  transition: all 0.5s;
 }
